/* ItemDetails.css */

.item-details {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-details img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.details {
  width: 100%;
  text-align: center;
}

.details h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.details h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #b22222;
}

.details p {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #555;
}

.details p strong {
  font-weight: bold;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.quantity-control button {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

.quantity-control button:hover {
  background-color: #e0e0e0;
}

.quantity-control span {
  font-size: 1.2em;
  margin: 0 10px;
}

.add-to-cart-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s, transform 0.3s;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.add-to-cart-button:active {
  background-color: #004494;
  transform: translateY(0);
}

/* Add this to ItemDetails.css */

/* Style for the admin buttons container */
.admin-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

/* Base style for admin buttons */
.admin-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/* Specific styles for each button */
.create-button {
  background-color: #4CAF50; /* Green */
  color: white;
}

.create-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.edit-button {
  background-color: #FFC107; /* Amber */
  color: white;
}

.edit-button:hover {
  background-color: #ffb300;
  transform: scale(1.05);
}

.delete-button {
  background-color: #F44336; /* Red */
  color: white;
}

.delete-button:hover {
  background-color: #e53935;
  transform: scale(1.05);
}
